---
layout: home
title: home
---

<div class="fullscreen-logo">
    <img src="" alt=""/>
</div>

<div class="home-wrapper">
    {% include header.html %}
    <div class="designs-wrapper content-wrapper" id="design">
        {% for design in site.posts %} {% if design.layout == "design" %}
            <div class="design-wrapper content">
                <a href="{{design.url | prepend: site.baseurl}}" class="page-link" title="{{design.title}}"><img src="{{design.thumbnail}}" alt="design"></a>
            </div>
        {% endif %} {% endfor %}
    </div>
    <div class="seperator"></div>
    <div class="logos-wrapper content-wrapper" id="logo">
         {% for logo in site.posts %} {% if logo.layout == "logo" %}
            <div class="logo-wrapper content">
                <img src="{{logo.thumbnail}}" alt="logo">
            </div>
        {% endif %} {% endfor %}
    </div>
    <div class="seperator"></div>
    <div class="content-wrapper info-wrapper">
        <span>about me</span>
        <span>Hello! My name is Nicholas Morris and I am a freelance web designer and developer in the DC/Metro area. Aside from web development I also do logo design</span>
        <span>I have skills in Logo Design, Web Design, git, github, CSS3, HTML5, JS, Wordpress, React, AngularJS, Firebase, and Bootstrap</span>
        <span>If you'd like to get into contact with me feel free to message me on one of my social medias below or send me an email at morri2ne@dukes.jmu.edu!  I am open for business</span>
        <span>Current Logo Price Range: <b>$200 - $400.</b></span>
        <span>Website prices can vary, leave a message below and we can talk about what you need!</span>
    </div>
    <!--
    <div class="form-wrapper content-wrapper">
        <form action="https://formspree.io/nicholasmrnickmorris@gmail.com"
            method="POST">
            <div class="input-wrapper">
                <label>Name (first & last)*</label>
                <input type="text" name="name" required>
            </div>
            <div class="input-wrapper">
                <label>Email*</label>
                <input type="email" name="_replyto" required>
            </div>
            <div class="input-wrapper">
                <label>Subject*</label>
                <textarea id="subject" type="subject" name="_replyto" required></textarea>
            </div>
            
            <button type="submit" value="Send">Send!</button>
        </form> 
    </div>
    -->
    
    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
            });
            }
            });
        }
    </script>
</div>

