---
layout: home
title: home
---

<div class="fullscreen-logo">
    <img src="" alt=""/>
</div>

<div class="home-wrapper">
    <div class="content-wrapper info-wrapper">
        
        <div class="bio-picture-wrapper">
        {% for logo in site.posts %} 
        {% if logo.layout == "logo" %}
        {% if logo.title == "Personal 2" %}
            <img src="{{logo.thumbnail}}" alt="logo">
        {% endif %}
        {% endif %} 
        {% endfor %}
        </div>

        <div class="bio-wrapper">
            <span><b>Hello!</b></span>
            <span></span>
            <span>My name is Nick Morris</span>
            <span>
                I build weird web projects and design cool designs. If you want to make something cool with me 
                reach out to me on one of the social medias below. Here are a few of my favorite projects:
            </span>
            <ul>
                <li><a href="https://github.com/MickNorris/jmu-citations-web">Live parking citation data from JMU</a></li>
                <li><a href="https://rps-fun.netlify.com/">Play Rock Paper Scissors with a bot</a></li>
                <li><a href="https://github.com/MickNorris/venmo-begging">Venmo bot that made me $5 and and got me banned</a></li>
                <li><a href="https://github.com/MickNorris/Connect-With-Friends">Play Connect 4 with your friends</a></li>
            </ul>
        </div>

    </div>
    {% include footer.html %}
    <div class="seperator"></div>
    <div class="designs-wrapper content-wrapper" id="design">
        {% for design in site.posts %} {% if design.layout == "design" %}
            <div class="design-wrapper content">
                <a href="{{design.url | prepend: site.baseurl}}" class="page-link" title="{{design.title}}"><img src="{{design.thumbnail}}" alt="design"></a>
            </div>
        {% endif %} {% endfor %}
    </div>
    <div class="logos-wrapper content-wrapper" id="logo">
         {% for logo in site.posts %} {% if logo.layout == "logo" %}
            <div class="logo-wrapper content">
                <img src="{{logo.thumbnail}}" alt="logo">
            </div>
        {% endif %} {% endfor %}
    </div>
    <div class="seperator"></div>
    
    <!--
    <div class="form-wrapper content-wrapper">
        <form action="https://formspree.io/nicholasmrnickmorris@gmail.com"
            method="POST">
            <div class="input-wrapper">
                <label>Name (first & last)*</label>
                <input type="text" name="name" required>
            </div>
            <div class="input-wrapper">
                <label>Email*</label>
                <input type="email" name="_replyto" required>
            </div>
            <div class="input-wrapper">
                <label>Subject*</label>
                <textarea id="subject" type="subject" name="_replyto" required></textarea>
            </div>
            
            <button type="submit" value="Send">Send!</button>
        </form> 
    </div>
    -->
    
    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
            });
            }
            });
        }
    </script>
</div>

