<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nicholas Morris</title>
    <meta name="description" content="{{ site.description }}">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/history.js/1.8/bundled/html4+html5/jquery.history.js"></script>
    
    <link rel="stylesheet" href="{{site.baseurl}}/main.css">
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>